* {
    font-family: monospace;
}
footer {
    background-color: darkgray;
    font-family: monospace;
    font-size: 15px;
    margin: 0;
    padding: 1%;
    text-align: center;
}
.logo,img {
    height: 80%;
    float: left;
}
html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
    background-color: darkgray;
    height: 20%;
}
h1 {
    font-size: 60px;
    text-align: center;
}
h2 {
    font-size: 30px;
    text-align: center;
}
form {
    display: inline-block;
}
body {
    text-align: center;
}
.sol {
    padding: 40px;
}
.space {
    height: 200px;
}