* {
    font-family: monospace;
    color: white;

}
footer {
    background-color: #344e41;
    font-family: monospace;
    font-size: 15px;
    margin: 0;
    padding: 1%;
    text-align: center;
}
header{
    background-color: #344e41;
}
.headertext{
    font-size: 35px;
    text-align: center;
    margin-top: 0;
}
html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #a3b18a;
}

h2 {
    font-size: 30px;
    text-align: center;
}
form {
    display: inline-block;
}
body {
    text-align: center;
}
.sol {
    padding: 40px;
}
.space {
    height: 200px;
}
textarea {
    background-color: #344e41;
}
button {
    background-color: #344e41;
}